* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.signIn-box {
  background: #f1f1f1;
  border: 1px solid #ededed;
  border-radius: 15px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 580px;
  position: absolute;
  width: 100%;
}




.login-logo {
  background: #cf384b;
  border-radius: 20px 20px 0 0 !important;
  padding: 8px;
  text-align: center;
}
.login-form {
  padding: 20px;
}

.login-form h1 {
  color: rgba(0, 0, 0, 0.85);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  display: block;
}
.login-form h5 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 15px !important;
  margin-top: 5px !important;
  white-space: normal;
  word-break: break-word;
  box-sizing: border-box;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.login-form label {
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.login-form span {
  color: #cf384b;
  font-size: 20px;
}
.login-form a {
  cursor: pointer;
}
.forgot_password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.switch {
  display: flex;
}
.login-form button {
  background-color: #cf384b;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.login-form input {
  background-color: #fff;
  width: 100%;
  padding: 8px;
  border: 1px;
  border-radius: 5px;
  margin-top: 5px;
}

/* Home page css----------------------------------------- */

body {
  background-color: #f5f6ff;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}

.btn {
  border: none;
  padding: 7px15px;
  font-size: 18px;
}

.btn-add {
  border-radius: 5px;
}

.addContainer label {
  font-weight: bold;
}

.addContainer input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.addContainer button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* styles.css */
.navbar {
  background-color: rgb(207, 225, 233);
  padding: 8px;
  width: 100%;
}

.side_bar {
  background-color: #ccc;
  padding: 20px;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.side_bar a{
  padding: 20px;
  margin-top: 10px;
  font-size:20px;
  font-weight: bold;
}

.page-content {
  background-color: #fff;
  width: 80%;
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
  overflow-y: scroll;
}

.side_bar li {
  list-style: none;
  margin-top: 50px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.side_bar a:hover {
  color: #cf384b;
}

.side_bar a:active {
  color: #6d38cf;
}

.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

/* invioce and Resources ke liye comman css ----------------------------------------- */

.invoice_box {
  background: #f1f1f1;
  border: 1px solid #ededed;
  border-radius: 15px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 580px;
  position: fixed;
  width: 50%;
  margin-bottom: 25px;
  overflow-y: scroll;
  height: 500px;
  margin-right: 200px;
}

.invoice_box h1 {
  color: rgb(203, 189, 192);
  background-color: #cf384b;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.invoice_box input {
  background-color: #fff;
  width: 100%;
  padding: 8px;
  border: 1px;
  border-radius: 5px;
  margin-top: 5px;
}

.invoice_box span {
  color: #cf384b;
  font-size: 20px;
}

.invoice_box button {
  background-color: #cf384b;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
}

/* about Us page ke liye css  */

.aboutUs_box {
  background: #f1f1f1;
  border: 1px solid #ededed;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 80%;
  position: fixed;
  margin-bottom: 25px;
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  margin-right: 0px;
}

.aboutUs_box span {
  color: #cf384b;
}

/* handle Invoice css ----------------------------------- */

.handle_invoice {
  background: #f1f1f1;
  border: 1px solid #ededed;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  width: 100%;
  height: 100%;
}

/* Example CSS for the product table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.result-No-Found {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: red;
}

/* update client css */
/* client box header handle------------ */

.invoice_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.search_bar {
  padding: 10px;
  width: 150px;
  border: 1px solid gray;
  border-radius: 8px;
}

.invoice_header button {
  padding: 10px;
  width: 120px;
  border: 1px solid gray;
  border-radius: 8px;
  cursor: pointer;
  background-color: #beb4b4;
}

.update_box {
  background: white;
  border: 1px solid #ededed;
  border-radius: 0px;
  margin: auto;
  max-width: 480px;
  width: 50%;
  position: fixed;
  right: 0;
  margin-right: 250px;
  bottom: 40px;
  padding: 10px 20px;
  z-index: 1;
}

.update_box h1 {
  color: black;
}

.update_box input {
  background-color: white;
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(76, 72, 72);
  border-radius: 5px;
  margin-top: 5px;
}

.update_box span {
  color: #cf384b;
  font-size: 20px;
}

.faedit {
  color: black;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
.fatrash {
  color: black;
  cursor: pointer;
  margin-left: 5px;
  font-size: 20px;
  border: none;
}

.client_icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.actionBtn {
  display: block;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_button {
  display: flex;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 40px;
}

.cancel_btn {
  background-color: #beb4b4;
  color: #000;
  border: none;
  padding: 8px 10px;
  margin-left: auto;
  border-radius: 4px;
}
.ok_btn {
  background-color: #cf384b;
  color: #000;
  border: #6d38cf;
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 4px;
  padding: 10px;
}

/* add client model */

.addclient_model {
 
        position: absolute;
        top: 80px;
        left: 400px;
        height: auto;
        width: 400px;
        background: #f9f9f9;
        padding : 10px;
        background-color: white;
        border: none;
}

.addclient_form span {
    color: red;
}

.addclient_form input {
    border : 1px solid rgb(49, 40, 26);
    padding: 8px;
    width: 80%;
    border-radius: 2px;
   margin-left: 8px;
}

.addclient_button{
 margin-left: 200px;
}

.addclient_cancelbutton {
  border: 1px solid gray;
  font-size: 20px;
  width: 55px;
  border-radius: 3px;
  cursor: pointer;
}

.addclient_okbutton {
    border: 1px solid gray;
    margin-left: 5px;
    font-size: 20px;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #cf384b;
}

.addclient_cancelbutton span{
  font-size: 12px;
 
}