* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.signIn-box {
  background: #f1f1f1;
  border: 1px solid #ededed;
  border-radius: 15px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 580px;
  position: absolute;
  width: 100%;
}

.login-logo {
  background: #cf384b;
  border-radius: 20px 20px 0 0 !important;
  padding: 8px;
  text-align: center;
}
.login-form {
  padding: 20px;
}

.login-form h1 {
  color: rgba(0, 0, 0, 0.85);
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  display: block;
}
.login-form h5 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 15px !important;
  margin-top: 5px !important;
  white-space: normal;
  word-break: break-word;
  box-sizing: border-box;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.login-form label {
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.login-form span {
  color: #cf384b;
  font-size: 20px;
}
.login-form a {
  cursor: pointer;
}
.forgot_password{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 15px;
}
.switch {
display: flex;
}
.login-form button {
  background-color: #cf384b;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.login-form input {
  background-color: #fff;
  width: 100%;
  padding: 8px;
  border: 1px;
  border-radius: 5px;
  margin-top: 5px;
}

/* Home page css----------------------------------------- */


body {
  background-color: #f5f6ff;
  margin: 0;
  padding: 0;

}

.container {
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}

.btn {
  border: none;
  padding: 7px15px;
  font-size: 18px;
}

.btn-add {
  border-radius: 5px;
}



.addContainer label {
  font-weight: bold;
}

.addContainer input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.addContainer button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* styles.css */
.navbar {
  background-color: rgb(207, 225, 233);
  padding: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.side_bar {
  background-color: #ccc;
  padding: 15px;
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 40px;
  bottom: 0;
  overflow-y: scroll;
}


.side_bar li{
  list-style: none;
  margin-top: 50px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
 
}
.side_bar a:hover {
  color: #cf384b; 
}

.side_bar a:active {
  color: #6d38cf; 
 
}
 


.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

/* invioce and Resources ke liye comman css ----------------------------------------- */

.invoice_box {
 background: #f1f1f1;
  border: 1px solid #ededed;
  border-radius: 15px;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 580px;
  position:fixed;
  width: 50%; 
  margin-bottom: 25px;
  overflow-y: scroll;
  height: 500px;
  margin-right: 200px;
  
}

.invoice_box h1 {
  color: rgb(203, 189, 192);
  background-color: #cf384b;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  
}

.invoice_box input {
    background-color: #fff;
  width: 100%;
  padding: 8px;
  border: 1px;
  border-radius: 5px;
  margin-top: 5px;
}

.invoice_box span {
  color: #cf384b;
  font-size: 20px;
}

.invoice_box button {
  background-color: #cf384b;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
}


/* about Us page ke liye css  */

.aboutUs_box{
  background: #f1f1f1;
  border: 1px solid #ededed;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 80%;
  position:fixed;
  margin-bottom: 25px;
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  margin-right: 0px;
}

.aboutUs_box span {
 color: #cf384b; 
}


/* Project Box ke liye css------------------------------- */

.Project_box {
  background: #f1f1f1;
  border: 1px solid #ededed;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  max-width: 80%;
  position:fixed;
  margin-bottom: 25px;
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  margin-right: 0px;
 
}